{% extends 'account/main.html' %}
{% block content %}

{% if messages %}
<div class='row'>
  {% for message in messages  %}
  
  {% if message.tags == 'success' %}
  <div class="col-md-12 alert alert-success" >

    {{ message }}
  </div>
  {% else %}
  <div class="col-md-12 alert alert-danger" >

    {{ message }}
  </div>
  {% endif %}
    
  {% endfor %}
</div>
{% endif %}
  
  <form action="" method='POST'>
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Submit">
  </form>
{% endblock content %}
