{% extends 'account/main.html' %}
{% block content %}


<div class="card ">
  <div class="card-header alert alert-primary">
    Form
  </div>

  <div class="card-body">

    <form action="" method='POST'>

      {% csrf_token %}
      {{ form.management_form }}
      {% for form in form %}

      <strong>
        {{ form.label_tag }}
      </strong>
      {{ form }}
      <hr>
      {% endfor %}
      <div class="row">
        <div class="col-md-12 m-4">

          <input class='btn btn-info' type="submit" value="Submit">
        </div>
      </div>
  </div>
  </form>
</div>
</div>
{% endblock content %}