{% extends 'account/main.html' %}
{% block content %}
{% include "account/status.html" %}

<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <table class="table table-sm">
        <tr>
          <th>Id</th>
          <th>Product</th>
          <th>Category</th>
          <th>Date Orderd</th>
          <th>Status</th>
          <th>Note</th>
        </tr>
        {% for order in  orders %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ order.product }}</td>
          <td>{{ order.product.category }}</td>
          <td>{{ order.date_created }}</td>
          <td>{{ order.status }}</td>
          <td>{{ order.note }}</td>
        </tr>

        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock content %}