{% extends 'account/main.html' %}
{% block content %}
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h3>Password reset</h3>

            <p>You forgot your password ? No Problem</p>
            <p>Enter the email address associated with your account and proceed</p>

            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
{% endblock content %}